<h2>Add Comment</h2>

<div class="flexContainer">
  <div class="flexColumn formColumn">
    <%= form_for [@pic,@comment] do |f| %>
      <%= f.label :name, class:"formLbl" %>
      <%= f.text_field :name %>

      <%= f.label :content, class:"formLbl" %>
      <%= f.text_field :content %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
