
  <h2>New Upload</h2>
  <div class="flexContainer">
  <div class="flexColumn formColumn">

    <%= form_for @pic do |f| %>
      <%= f.label :title, class:"formLbl" %>
      <%= f.text_field :title %>

      <%= f.label :body, class:"formLbl" %>
      <%= f.text_field :body %>

      <%= f.label :img_url, class:"formLbl" %>
      <%= f.text_field :img_url %>

      <%= f.label :uploaded_by, class:"formLbl" %>
      <%= f.text_field :uploaded_by %>

      <%= f.submit :upload%>
    <% end %>
    </div>
</div>
