
  <div class="flexRow">
    <img class="backButton" src="https://i.imgur.com/tN6Xszy.png"/>
    <a class="homeBtn" href="/pics">HOME / <span><%= "#{@pic.title }"%></span></a>
  </div>
<div class="flexContainer">
  <div class="flexSubContainer">
    <div class="flexRow">
      <img class="designerProfile" src="https://i.imgur.com/rW9kVGe.png"/>
      <div class="flexColumn">
        <label class="headerTitle"><%= link_to @pic.title , edit_pic_path(@pic)%></label>
        <label class="headerSubTitle"><%= "Designed By: #{@pic.uploaded_by } uploaded on '#{@pic.created_at}'"%></label>
     </div>
    </div>

    <div class="flexRow imgBox">
      <img class="imgPreview" src="<%= @pic.img_url %>"/>
    </div>
    <div class="flexRow">
      <label class="bodySubTitle"><%= "#{@pic.body }"%></label>
    </div>
    <div class="flexRow">
      <img src="https://i.imgur.com/pidjMbG.png"/>
      <div class="tagTitle">

      Tags: <%= link_to "(+)", new_tag_path(@tag) %>

      <%= link_to "tagging".html_safe, add_tagging_pic_path(@pic), method: :post, class: "add_tag" %>


        <% @taggings.where(:pic_id => @pic).each do |tagging01| %>

              <% @tags.where(:id => tagging01.tag_id).each do |tag02| %>
                 <%= "#{tag02.name}, " %>
              <% end %>
        <% end %>
       </div>

    </div>

  </div>
  <!-- comment -->
  <div class="flexSubContainer">
    <div class="commentColumn flexColumn">
      <div>
        <% @pic.comments.each do |comment| %>

          <div class="flexRow commentBlock">
            <img class="icon" src="https://i.imgur.com/0J8RJXS.png" />

            <div class="flexColumn">
                <label class="headerSubTitle">
                    <%= "#{comment.name}"%>
                </label>
                <label class="bodySubTitle">
                    <%= "#{comment.content}"%>
                        <%= link_to ("edit"),edit_pic_comment_path(@pic,comment) %>
                </label>
            </div>
        </div>
            <% end %>
            <%= link_to "Add Comment:", new_pic_comment_path(@pic) %>
        </div>


    </div>
  </div>
</div>
